@charset "utf-8";
/* CSS Document */


.wrapper {
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
} 

.head {
	grid-column: 1 / span 12;
	grid-row: 1 / span 1;
	background-color: #73BDDC;
	display: grid;
}

#Logosection{
	grid-column: 1 / span 4;
}

.logo {
	float: left;
	margin: 20px 0px 20px 20px;
	width: 15%;
}

#TekstLogo{
	padding-top: 100px;
	color: #FFFFFF;
	font-family:Georgia;
	font-size: 25px;
}
	
	

.kontaktinfo{
	grid-column: 8 / span 4;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 20px;
}

#tlf{
	float: left;
	padding-top: 100px;
	
}

#email{
	float: right;
	padding-right: 20px;
	padding-top: 100px;
}
.navbar {
	grid-column: 1 / span 12;
	grid-row: 2 / span 1;
	overflow: hidden;
    background-color: #454545;
	Border: 1px solid #454545;
	padding-left: 30px;
	
}


.navbar a {
  float: left;
  font-size: 20px;
  color: #73BDDC;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  Border: 1px solid #454545;
  font-family: Arial;
  
}

.dropdown {
  float: left;
  overflow: hidden;
  font-family: Arial;
  font-size: 20px;
  border: 1px solid #454545;
  
}

.dropdown .dropbtn {
  font-size: 20px;  
  color: #73BDDC;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  border: 1px solid #454545;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn:hover {
  background-color: #454545;
  border-color: #73BDDC;
  
 
 
	
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #454545;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #73BDDC;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #454545;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #434343;
}

li {
  float: left;
}

li a {
  display: block;
  color: #73BDDC;
  text-align: center;
  font-family: Arial;
  padding: 14px 16px;
  text-decoration: none;
  Border: 1px solid #454545;
}

li a:hover {
    background-color: #434343;
	border: 1px solid #73BDDC;
}
*/

.coverbillede {
	grid-column: 1 / span 12;
	grid-row: 4 / span 2;
	padding: 30em;
	background: url("billeder/maimedhund.png");
	background-repeat: no-repeat;
	background-size: 100%;
	
}
/*
.Covid19 {
	  grid-column: 4 / span 6;
	  grid-row: 7 / span 4;
	  background-color: #F7ECD8;
	  border: 2px solid #CDB59D;
	  border-radius: 19px;
	  padding: 50px;
	  margin-top: 70px;
	  display: grid;
}

.Overskrift {
	 grid-column: 8 / span 8;
	 grid-row: 2 / span 2;
	 line-height: 1.8;
     font-family: Arial;
	 margin: 20px;
}
.P1 {
	 grid-column: 8 / span 2;
     grid-row: 5 / span 2;
	 line-height: 1.8;
     font-family: Arial;
	 margin: 20px;
	
}

.P2 {
	 grid-column: 8 / span 2;
     grid-row: 8 / span 2;
	 line-height: 1.8;
     font-family: Arial;
	 margin: 20px;  
}

.P2 u {
	color: #73BDDC; 
}


// Modal 
.button{
  grid-column: 8 / span 1;
  grid-row: 11 / span 2;
  background-color: #73BDDC;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  color: #FFFFFF;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  
}



.button:hover{
	background-color: #CDB59D;
}

.modal {
	position: fixed;
	z-index:1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.modal-content {
	grid-column: 1 / span 12;
	background-color: #f7ecd8;
	border: 2px solid #cdb59d;
	border-radius: 19px;
	margin: 10% auto;
	width: 50%;
	box-shadow: 0 5px 8px 0 rbga(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0.17);
	display:grid;
}
/*
.modal-header{
	grid-column: 2 / span 4;
	grid-row: 1 / span 1;
	font-family: "calibri";
	color: #FFFFFF;
	padding-left: 10px;
	float: left;
}



// Header
.header {
	grid-column: 1 / span 12; 
	grid-row: 1 / span 1;
	z-index: 1;
	
}



#Foorstelinje {
	grid-column: 3 / span 2;
	grid-row: 3 / span 1;
	margin: 30px 0px 0px 50px;
	font-size: 20px; 
    line-height: 1.8;
    font-family: Arial;
}

#Andenlinje {
	grid-column: 3 / span 8; 
	grid-row: 5 / span 1;
	font-size: 20px; 
	line-height: 1.8;
    font-family: Arial;
}

.dots {
	grid-column: 3 / span 2; 
	grid-row: 7 / span 1;
	margin: 30px 80px 0px 80px;
	font-size: 20px; 
	line-height: 1.8;
    font-family: Arial;
}

#Andenlinje u {
	color: #73BDDC;
}

#Tredjelinje {
	grid-column: 3 / span 2; 
	grid-row: 9 / span 1;
	margin: 50px;
	font-size: 20px; 
	line-height: 1.8;
    font-family: Arial;
}

#Fjerdelinje {
	grid-column: 3 / span 1; 
	grid-row: 11 / span 1;
	margin: 0px 0px 0px 50px;
	line-height: 1.8;
    font-family: Arial;
	font-size: 20px; 
}

#Femtelinje {
	grid-column: 3 / span 1; 
	grid-row: 13 / span 1;
	margin: 30px 0px 0px 50px;
	line-height: 1.8;
    font-family: Arial;
	font-size: 20px; 
}

#Sjettelinje {
	grid-column: 3 / span 1; 
	grid-row: 15 / span 1;
	margin: 0px 0px 40px 50px;
	line-height: 1.8;
    font-family: Arial; 
	font-size: 20px; 

}

.link{
	grid-column: 4 / span 2; 
	grid-row: 7 / span 1;
	line-height: 1.8;
    font-family: Arial; 
	font-size: 20px; 
}

.closeBtn{
	float: right;
	padding-right: 30px;
	padding-top: 25px;
    color: #000000;
	font-size: 30px;
	
}

.closeBtn:hover,.closeBtn:focus{
	color: #73bddc;
	text-decoration: none; 
	cursor:pointer;

}

*/








.DinLokaleDyrlaage {
	grid-column: 2 / span 10;
	grid-row: 12 / span 2;
	Background-color: #73BDDC;
	border-radius: 19px;
	padding: 50px;
	margin-bottom: 20px;
	margin-top: 70px;
	display: grid;
}



.DinLokaleDyrlaage h3 {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	line-height: 1.8;
	font-family: Arial;
	color: #FFFFFF;
	float: left;
}

.DinLokaleDyrlaage p {
	grid-column: 1 / span 2;
	line-height: 1.8;
	font-family: Arial;
	color: #FFFFFF;
	float: left;
}

.DinLokaleDyrlaage img {
	grid-column: 4 / span 2;
	width: 100%;
	height: auto;
	float: right;
	margin-left: 20px;
	border-radius: 19px;
}

.beliggenhed {
	grid-column: 2 / span 10;
	grid-row: 15 / span 2;
	line-height: 1.8;
	font-family: Arial;
	color:#000000;
	margin-left: 20px;
	columns: 100px 2;
	column-gap: 30px;
	display: grid;
}

.tekst1 {
	grid-column: 1 / span 1;
	margin-bottom: 70px;
}
.tekst2 {
	grid-column: 3 / span 1;
}


.billede1 {
	grid-column: 2 / span 3;
	grid-row: 18 / span 2;
	Background-color: #73BDDC;
	border-radius: 19px;
	margin: 0px 10px 0px 10px;
	display: grid;

}
.billede1 img {
	grid-column: 1 / span 4;
	grid-row: 1 / span 1;
	width: 100%;
	height: auto;
	float: center;
	border-radius: 19px;
}

.billede1 h3 {
	grid-column: 2 / span 2;
	grid-row: 2 / span 1;
	color: #FFFFFF;
	font-family: Arial;
	padding-left: 30px;
	margin-left: 30px;
}

.billede1 p {
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;
	color: #FFFFFF;
	line-height: 1.8;
	font-family: Arial;
	text-align: center;
	margin-bottom: 30px;
	
}

.button1 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  background-color: #73BDDC;
  border: 2px solid #FFFFFF;
  border-radius: 19px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 70px 2px;
  cursor: pointer;
}
.button1:hover {
	background-color: #CDB59D;
	border: 2px solid #FFFFFF;
}







.billede2 {
	grid-column: 5 / span 4;
	grid-row: 18 / span 2;
	Background-color: #73BDDC;
	color: #FFFFFF;
	border-radius: 19px;
	margin: 0px 50px 0px 50px;
	line-height: 1.8;
	font-family: Arial;
	display: grid;
	
}

.billede2 img {
	grid-column: 1 / span 4;
	grid-row: 1 / span 1;
	width: 100%;
	height: auto;
	float: center;
	border-radius: 19px;
}

.billede2 h3 {
	grid-column: 2 / span 2;
	grid-row: 2 / span 1;
	color: #FFFFFF;
	line-height: 1.8;
	font-family: Arial;
	padding-left: 30px;
	margin-left: 30px;
}

.billede2 p {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
	color: #FFFFFF;
	line-height: 1.8;
	font-family: Arial;
	text-align: center;
	
}

.button2 {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  background-color: #73BDDC;
  border: 2px solid #FFFFFF;
  border-radius: 19px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 70px 2px;
  cursor: pointer;
}
.button2:hover {
	background-color: #CDB59D;
	border: 2px solid #FFFFFF;
}



.billede3 {
	grid-column: 9 / span 3;
	grid-row: 18 / span 1;
	Background-color: #73BDDC;
	color: #FFFFFF;
	border-radius: 19px;
	margin: 0px 10px 0px 10px;
	line-height: 1.8;
	font-family: Arial;
	display: grid;
	
}

.billede3 img {
	grid-column: 1 / span 4;
	grid-row: 1 / span 1;
	width: 100%;
	height: auto;
	float: center;
	border-radius: 19px;
}

.billede3 h3 {
	grid-column: 2 / span 2;
	grid-row: 2 / span 1;
	color: #FFFFFF;
	line-height: 1.8;
	font-family: Arial;
	padding-left: 30px;
	margin-left: 30px;
}

.billede3 p {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
	color: #FFFFFF;
	line-height: 1.8;
	font-family: Arial;
	text-align: center;
	
}

.button3 {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  background-color: #73BDDC;
  border: 2px solid #FFFFFF;
  border-radius: 19px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 70px 2px;
  cursor: pointer;
}
.button3:hover {
	background-color: #CDB59D;
	border: 2px solid #FFFFFF;
}


.Footer {
  grid-column: 1 / span 12;
  grid-row: 20 / span 4;
  background-color: #454545;
  margin-top: 100px;
  padding: 50px;
  display: grid;
}

.a {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
	list-style-type: circle;
	color: #FFFFFF;
	line-height: 1.8;
	font-family: Arial;
	padding-left: 20px;
}



.b {
	grid-column: 10 / span 2;
	list-style-type: circle;
	color: #FFFFFF;
	line-height: 1.8;
	font-family: Arial;
	padding-left: 20px;

}



